extends layout

block content
  h1= title
  p Welcome to #{title}
  div hello

  - if (youAreUsingJade)
         You are amazing
  - else
         div Get on it!
         div Get on it!
         div Get on it!
         div Get on it!

