<html>
    <head>
        <title>Ini apps saya</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
<form action="/api" id="form">
    <input placeholder="masukan nama" name="nama" style="margin: 10px" v-model="name">
    <div>
        <input type="text" placeholder="nim" name="nim" style="margin: 10px">
    </div>
        <input type="submit" value="submit">
        <div>{{name}}</div>
</form>
    <script>
        new Vue(
            {
                el:"form",
                data:{
                    name:"",
                }
            }
        )

    </script>
</html>